*.ist
*.pkl
__pycache__
*.pyc
*.zip
*ipynb_checkpoints*
*.virtual_documents*

database/raw_datasets/era5/*/*
database/raw_datasets/gibbs/*/*
database/raw_datasets/erikson/*/*
database/raw_datasets/cmip5/*/*

.env