numpy
pandas
matplotlib
geopandas
geodatasets
xarray
pyyaml
xbTools
datetime
xarray
netcdf4
scipy
h5netcdf
dask
bottleneck
IPython
shapely
ffmpeg
hvplot
geoviews
cartopy
pyproj
moviepy
ipykernel
scikit-learn